
/* media query */
 
@media (max-width: 320px) {
    .blog-post-card {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        /* width: 30vw; */
    }
  
    .navbar,.post-header{
      display: flex;
      flex-direction: column;
      width: 30vw;
  
    }
    .card {
      width: 30vw;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .author {
      display: flex;
      flex-direction: column;
    }
  
    .author-info p {
      width: 100%;
      max-width: 800px;
    }
  
    /* .card img {
      width: 30vw; 
      height: 20vw; 
      border-radius: 10px;
    } */
  
  }
  
  @media (min-width: 321px) and (max-width: 601px){
    .blog-post-card {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        width: 300vw;
    }
    .navbar,.post-header{
      display: flex;
      flex-direction: column;
      width: 70vw;
  
    }
    .author {
      display: flex;
      flex-direction: column;
    }
    .card img {
      width: 50vw; 
      height: 30vw; 
      border-radius: 15px;
    }
  
  }
  
  @media (min-width: 600px) and (max-width: 900px) {
    .blog-post-card {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        width: 400vw;
    }
    .card img {
      width: 60vw; 
      height: 30vw; 
      border-radius: 15px;
    }
  
    input {
      margin: 12px;
    }
  }
  
  @media (min-width: 901px) {
    .grid-container {
    }
  }
  